<h3>Scheduled Tasks for Today</h3>

<ul class="list-tasks">
  <% @Tasks.each do |task| %>
      <li>
        <div class="mdl-card mdl-shadow--2dp">

          <div class="mdl-card__title mdl-card--expand">
            <h4>
              <%= "#{task.name} on agent: #{task.agent}" %><br>
              <%= task.scheduled_days %><br>
              <%= "#{task.start_time.hour}:#{task.start_time.min} - #{task.end_time.hour}:#{task.end_time.min}" %>
            </h4>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <%= link_to "Go to Task", task, { :class => 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' } %>
            <div class="mdl-layout-spacer"></div>
          </div>

        </div>
      </li>
  <% end %>
</ul>