<%= form_for(@task) do |f| %>
    <% if @task.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

          <ul>
            <% @task.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.select :name, @types.all.collect { |t| t.name } %>
    </div>
    <div class="field">
      <%= f.label :executable_path %><br>
      <%= f.text_field :executable_path %>
    </div>
    <div class="field">
      <%= f.label :start_time %><br>
      <%= f.time_select :start_time %>
    </div>
    <div class="field">
      <%= f.label :end_time %><br>
      <%= f.time_select :end_time %>
    </div>
    <div class="field">
      <%= f.label :scheduled_days %><br>
      <%= f.select :days, days_options, {}, {:multiple => true, :size => 5} %>
    </div>
    <div class="field">
      <%= f.label :agent %><br>
      <%= f.text_field :agent %>
    </div>
    <div class="field">
      <%= f.label :agent_key %><br>
      <%= f.text_field :agent_key %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
