<!DOCTYPE html>
<html>
<head>
  <title>CoTaskerServer</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Tasker server</span>

      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <%= link_to :Home, '/', { :class => 'mdl-navigation__link' } %>
        <%= link_to :Tasks, tasks_path, { :class => 'mdl-navigation__link' } %>
        <%= link_to 'Task Types', task_types_path, { :class => 'mdl-navigation__link' } %>
      </nav>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="page-container">
      <div class="page-content">
        <%= yield %>
      </div>
    </div>


  </main>
</div>


</body>
</html>
